* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    margin: 44px 0 144px 76px;
}

a {
    color: black;
    margin-right: 32px;
    Width: 79px;
    Height: 29px;
    font-size: 24px;
    cursor: pointer;
    font-weight: 400px;
}

.button-header {
    font-size: 30px;
    Height: 41px;
    width: 115px;
    border: none;
    color: white;
    background: black;
    font-weight: 700px;
    border-radius: 7px;
    cursor: pointer;
}

.image-escudo-corinthians {
    position: relative;
    left: 1332px;
    bottom: 898px;
    width: 112px;
    margin-top: 8px;
}

.container-left {
    display: inline-block;
    margin-left: 76px;
}

.container-right{
    display: inline-block;
    margin-left: 174px;
}

h1{
    Width: 513px;
    Height: 122px;
    color: #000;
    font-size: 100px;
    font-weight: 900px;
}

h2 {
    Width: 513px;
    Height: 122px;
    color: #000;
    font-size: 28px;
    font-weight: 900px;
    margin-top: 23px;
}

p {
    Width: 513px;
    Height: 122px;
    color: #000;
    font-size: 28px;
    margin-top: 23px;
    margin-bottom: 23px;
    font-weight: 900px;
}

.button-compre-aqui {
    margin-left: auto;
    Width: 143px;
    Height: 54px;
    color: #fff;
    background: #000;
    font-size: 16px;
    display: flex;
    cursor: pointer;
    border: none;
    justify-content: center;
    align-items: center;
    margin-right: 372px;
    margin-top: 42px;
}